html {
	color: #34495e;
    font-size: 15px;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb {
	background-color: #C8C8C8;
}

ul {
	cursor: pointer;
	list-style: none;
	line-height: 2rem;
	padding-left: 1.1rem;
	font-weight: initial;
	min-width: 200px;
}

li > a {
	display: block;
	color: #505d6b;
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
	text-decoration: none;
	text-overflow: ellipsis;
    white-space: nowrap;
}

li > a::after  {
	display: block;
	color: inherit;
}

li > a::hover {
	color: #e96900;
}

.active {
	color: #e96900;
}

.active::before {
	content: "";
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.3rem;
    display: inline-block;
    background-size: 390%;
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-position: 2px 0px;
    position: relative;
    top: 2px;
}

.folder {
	font-weight: bold;
}

.folder::before {
	content: "";
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.3rem;
	display: inline-block;
	background-size: 390%;
	background-image: url(img.png);
	background-repeat: no-repeat;
	background-position: -47px 0px;
	position: relative;
	top: 2px;
}

.file::before {
	content: "";
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.3rem;
    display: inline-block;
    background-size: 390%;
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-position: -13px 0px;
    position: relative;
    top: 2px;
}

.main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sidebar {
	width: 17rem;
	height: 100%;
	float: left;
	overflow-y: scroll;
	transition: width 0.8s ease 0s;
}

.content {
	width: calc(100% - 17rem);
	height: 100%;
	float: left;
	transition: width 0.8s ease 0s;
}

.content iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.menu {
	position: fixed;
    top: 0.3rem;
    right: 0.6rem;
    width: 2.2rem;
	height: 2.2rem;
	cursor: pointer;
	border-radius: 0.1rem;
	background-color: #FFFFFF;
}

.menu::before {
	content: '';
	position: fixed;
    top: 1rem;
    right: 2.1rem;
    width: 1rem;
	color: #e96900;
    box-shadow: 0.9rem 0.4rem 0 0.1rem, 0.9rem 0 0 0.1rem, 0.9rem 0.8rem 0 0.1rem;
}
